Checks: >
    -*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -readability-braces-around-statements,
    -readability-else-after-return,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -bugprone-easily-swappable-parameters,
    -cert-msc30-c,
    -cert-msc32-c,
    -cert-msc50-cpp,
    -cert-msc51-cpp,
    -cert-err58-cpp,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -hicpp-explicit-conversions,
    -hicpp-exception-baseclass,
    -hicpp-braces-around-statements,